.file-upload-component {
    label {
        width: 170px;
        height: 36px;
        display: flex;
        justify-content: center;
    }
    .err-msg {
        font-size: 12px;
        margin: 5px 0 3px 0;
    }
}
