.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    flex-direction: column;
    img {
        width: 150px;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
}
