<div *ngIf="course" class="course-profile-page page" fxLayout="column">

    <div *ngIf="user.role === UserRole.Student && !isAlreadyJoined && !isFull" class="join-btn">
        <button mat-raised-button (click)="openDialog()">Join This Course</button>
    </div>
    <div *ngIf="user.role === UserRole.Student && isAlreadyJoined" class="leave-btn">
        <button mat-raised-button (click)="openDialog()">Leave This Course</button>
    </div>

    <div class="personal-info" fxLayout="column">
        <h2 class="bold"><u>Course Information</u></h2>
        <div class="course-img">
            <img [src]="course.image" alt="course-image">
        </div>
        <h4><span class="bold">Name:</span> {{course.name}}</h4>
        <h4><span class="bold">Description:</span> {{course.description}}</h4>
        <h4><span class="bold">Students:</span> {{course.students.length}}/{{course.howManyStudents}}</h4>
        <h4><span class="bold">Teacher:</span> {{course.teacher.name}}</h4>
    </div>

    <div class="students-list" fxLayout="column">
        <h2 class="bold"><u>Students</u></h2>
        <h4 *ngIf="course.students.length == 0">No students in this course yet.. :(</h4>
        <h4 *ngIf="isFull && !isAlreadyJoined">Sorry, looks like this course is already full! Please try another one :)
        </h4>
        <div *ngIf="course.students.length > 0" class="students-block" fxLayout="column">
            <div class="student" fxLayout="row" *ngFor="let s of course.students">
                <div class="circle"></div>
                <h3 (click)="navigateToStudent(s._id)">{{s.name}}</h3>
            </div>
        </div>
    </div>

</div>